<div class="jumbotron mt-4">
  <h1 class="display-4">Notes App</h1>
  <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo sunt veniam blanditiis, natus libero at consequatur saepe sed, vel esse eveniet quisquam sequi laborum totam iusto omnis voluptas soluta temporibus.</p>
  <hr class="my-4">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, quas nesciunt! Officia inventore nihil quia obcaecati nemo maxime cum sapiente. Aut qui neque inventore deleniti facilis magni nobis, dolorum adipisci?</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio explicabo animi sequi numquam perferendis sint incidunt, omnis et similique minus quae, odit obcaecati, nesciunt velit aut mollitia! Hic, ut libero?</p>
  <a href="https://alex-chip.github.io/alex-chip" class="btn btn-primary btn-lg">Alex Chip</a>
</div>